@use "../../utilities.module" as *;
.main {
  display: flex;
  padding: 10vh 10%;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .center {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    .social {
      margin-top: 50px;
      width: 100%;
      align-items: center;
      border: 1px solid $p;
      padding: 25px;
      background-color: cwo($p, 0.3);
      border-radius: 6px;
      a {
        display: flex;

        .icon {
          width: 60px;
          font-size: 1.5rem;
        }
        span {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 60px);
          word-break: break-all;
        }
      }
    }
  }
  .row {
    flex-direction: row;
    gap: 50px;
    width: 100%;
    ul {
      padding-left: 16px;
    }
    div {
      flex: 1;
      background-color: cwo($p, 0.1);
      padding: 25px;
      border: 2px solid cwo($s, 0.2);
      border-radius: 6px;
    }
  }
}
//sm
//sm
//sm
//sm
@media screen and (max-width: 800px) {
  .main {
    padding: 5vh 10%;
    width: 100%;
    gap: 100px;
    .image {
      flex: unset;
      width: 100%;
      height: 40vh;
    }
    .center {
      width: 100%;
    }
    .row {
      flex-direction: column;
      div {
        flex: unset;
        width: 100%;
      }
    }
  }
}
