@use "../../../utilities.module" as *;
.spinner {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  min-height: 100vh;
  width: 100vw !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 999999999999;
  flex-direction: column;
  background-color: cwo($bg, 0.85);

  backdrop-filter: blur(16px);

  gap: 40px;
  .img {
    position: relative;

    width: 10%;

    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    background-color: $w;

    border: 1px solid cwo($p, 0.1);

    img {
      object-fit: cover !important;
      height: 100%;
      width: 100%;
    }
  }
  .error {
    width: 80%;
    color: $p;
    text-align: center;
  }
}
