@use "../../utilities.module" as *;
.row {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5% 10%;
  div {
    display: flex;
  }
  .social {
    flex: 1;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    a {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .socials {
      font-size: 1.5rem;
      color: $p;
      gap: 10px;
      width: max-content;
      padding: 6px 12px;
      border-radius: 3px;
      background-color: $b;
    }
  }
  .body {
    flex: 1;
    .contact {
      flex-direction: column;
      align-items: flex-start;

      width: 100%;
      display: flex;

      gap: 10px;
      form {
        display: flex;
        flex-direction: column;

        gap: 10px;
        text-align: left;
        z-index: 5;
        padding: 40px;
        width: 100%;
        background-color: cwo($tf, 10%);
        margin-top: 20px;
        input,
        textarea {
          outline: none;
          border: 1px solid $tf;
          font-family: inherit;
          height: 45px;
          padding: 3px;
          font-size: 1rem;
          border-radius: 3px;
          width: 100%;
          background-color: transparent;
        }
        textarea {
          height: 100px;
        }

        button {
          height: 45px;
          background-color: $s;
          border: none;
          outline: none;
          color: $w;
          border-radius: 0px;
          cursor: pointer;
          transition: 0.75s;
          &:hover {
            background-color: var(--p);
          }
          &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

//sm
//sm

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    gap: 100px;
    div {
      display: flex;
    }
    .social {
      flex: unset;
      width: 100%;
      margin-top: 0px;

      a {
        width: 100%;
        gap: 10px;
        word-break: break-all;
        .icon {
          display: block;
          width: 50px;
          font-size: 1.5rem;
        }
        span {
          display: block;
          width: calc(100% - 60px);
        }
      }
      .socials {
        width: 100%;
        justify-content: center;
      }
    }
    .body {
      flex: unset;
      width: 100%;
      .contact {
        form {
          padding: 25px;
        }
      }
    }
  }
}
