@use "../../../utilities.module" as *;
.holder {
  position: relative;
  width: 100vw;

  background: $w;
  z-index: 8;

  .carousel {
    display: flex;
    width: 100vw;

    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    background-color: $bg;
    transition: 1s;
    position: relative;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img {
      z-index: 1;
      position: relative;
      height: 50vh;
      width: 100%;

      img {
        object-fit: cover;
      }
    }

    .text {
      flex-direction: column;
      z-index: 3;
      align-items: flex-start;

      width: 100%;
      gap: 10px;

      z-index: 10;
      color: $b;
      background-color: cwb($tf, 30%);
      padding: 2.5% 50% 2.5% 5%;
      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-family: var(--bold);
        font-weight: 900;
        color: $s;
      }
    }
  }
}
.banner {
  width: 100vw;
  height: calc(100vh - 90px);
  position: relative;
  background-color: $bg;
  .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .imgBox {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      img {
        object-fit: cover;
        object-position: 100% center;
      }
    }
    .text {
      z-index: 3;
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 20px;
      align-items: flex-start;
      position: relative;

      color: $w;
      background-color: cwb($tf, -15%);
      padding: 50px;
      .items {
        position: absolute;
        width: 100%;
        height: 100%;

        left: 0;
        bottom: 0;
        z-index: -1;
        span {
          height: 20px;
          width: 20px;
          background-color: $w;
          display: block;
          position: absolute;
        }
        > :nth-child(1) {
          bottom: 0;
        }
        > :nth-child(2) {
          bottom: 0;
          right: 0;
        }
        > :nth-child(3) {
          right: 0;
        }
      }
      h1 {
        font-family: var(--bold);
        font-size: 2.5rem;
        font-weight: 500;
      }
      .context {
        display: flex;
        gap: 20px;
        background-color: cwo($w, 1);
        padding: 12px;
        color: $p;
        width: 100%;
        justify-content: space-around;
        border-radius: 3px;
      }

      .actions {
        display: flex;
        width: 100%;
        gap: 20px;
        @include animate(move, 25s, linear, 0.2s, infinite);
        a {
          flex: 1;
          border-radius: 3px;
          padding: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .holder {
    height: unset;
    .carousel {
      justify-content: center;
      align-items: center;

      .img {
        height: 30vh;
      }

      .text {
        padding: 10%;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  .banner {
    .box {
      width: 100vw;

      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 30px;
      background-color: $tf;
      .imgBox {
        height: 55%;
      }

      .text {
        width: 90%;
        margin: 0;
        padding: 25px;

        h1 {
          font-size: 1.6rem;
        }
        .context {
          flex-wrap: wrap;
          gap: 15px;
          font-size: 0.8rem;
        }
      }
    }
  }
}
