:root {
  --p: #33bfe6;
  --s: #5fd3f0;
  --bg: #ffffff;
  --b: #000000;
  --w: #ffffff;
  --tf: #9ca3af;
  --a: #33bfe6;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: var(--normal);
}
body {
  background: var(--bg);
  color: var(--b);
}
::selection {
  background: var(--p);
  color: var(--w);
}

a {
  color: inherit;
  text-decoration: none;
}
.front {
  z-index: 3;
}

.links {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  flex-direction: row;
}
.action,
.links a,
button,
.action2 {
  display: flex;

  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: linear-gradient(to right, var(--p), var(--s));
  color: var(--w);
  border-radius: 3px;
  font-weight: 500;
  transition: 0.75s;
  cursor: pointer;
  gap: 10px;
}
.action2 {
  padding: 10px;
  margin: 6px 0;
}
button {
  border: none !important;
  outline: none !important;
}
.action:hover,
.links a:hover,
.action2:hover {
  scale: 0.95;
}

.action:disabled,
.action2:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.top {
  z-index: 1;
}
.linkText {
  color: var(--s);
}

.linkText:hover {
  text-decoration: underline;
}

.transbox {
  position: absolute;
  flex: 1;
}

.transGroup {
  width: 100%;
}
.translate {
  position: absolute !important;

  left: 0;
  width: 100%;
  overflow: hidden;
}
.skiptranslate {
  color: transparent !important;
}
.skiptranslate > * {
  display: none;
}
.skiptranslate select {
  display: inline-block !important;

  height: 40px;
  border: none;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
