@use "../../../utilities.module" as *;
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10vh 5%;
  gap: 100px;
  align-items: center;
  background-color: $bg;
  position: relative;

  .services {
    display: flex;
    width: 100%;

    gap: 40px;

    align-items: stretch;

    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    .item {
      display: flex;
      align-items: stretch;
      flex: 1;
      min-width: 40%;
      background-color: cwb($tf, 25%);

      max-width: 50%;
      transition: 0.75s;
      border-radius: 6px;
      border: 1px solid cwo($tf, 0.1);
      flex-direction: column;
      box-shadow: 0 8px 8px cwo($tf, 0.1);
      &:hover {
        background-color: cwb($bg, 10%);
      }
      .image {
        position: relative;
        height: 50vh;
        width: 100%;
        img {
          object-fit: cover;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        flex: 1;

        align-items: flex-start;

        padding: 24px;
        .title {
          font-size: 2rem;
          font-weight: 500;
          color: $p;
          font-family: var(--bold);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    padding: 5vh 5vw;
    gap: 30px;
    .services {
      flex-direction: column;
      .item {
        max-width: 100%;
        flex: unset;
        width: 100%;
        flex-direction: column;
        .image {
          width: 100%;
          height: 25vh;
          flex: unset;
        }
        .text {
          min-height: unset;
        }
      }
    }
  }
}
