@use "../../utilities.module" as *;
.gallery {
  display: flex;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  padding: 5vh 2.5vw;
  justify-content: center;
  div {
    width: 30%;
    height: 70vh;
    position: relative;
    img {
      object-fit: cover;
    }
  }
}
//sm
//sm
//sm
//sm
@media screen and (max-width: 800px) {
  .gallery {
    flex-direction: column;
    div {
      width: 100%;
      height: 45vh;
    }
  }
}
