@use "../../utilities.module" as *;
.container {
  display: flex;
  padding: 10vh 5%;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .image {
    position: relative;
    flex: 1;
    img {
      object-fit: cover;
      object-position: center 5%;
    }
  }
  .top {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
  }
  .statement {
    flex-direction: row;
    gap: 50px;
    div {
      flex: 1;
      background-color: cwo($p, 0.1);
      padding: 25px;
      border: 2px solid cwo($s, 0.2);
      border-radius: 6px;
    }
  }
  .box {
    width: 100%;
    flex-direction: row;
    gap: 50px;
    align-items: stretch;
    .col {
      flex: 1;
      justify-content: center;
      min-height: 90vh;
    }
  }
  .text {
    flex-direction: row;
    gap: 20px;
    background-color: $p;
    gap: 40px;
    padding: 40px;
    div {
      padding: 24px;
      background-color: $w;
      flex: 1;
      border-radius: 6px;
      color: $bg;
      h2 {
        color: $p;
      }
    }
  }
}
//sm
//sm
//sm
//sm
@media screen and (max-width: 800px) {
  .container {
    padding: 5vh 10%;
    width: 100%;
    gap: 100px;
    .image {
      flex: unset;
      width: 100%;
      height: 40vh;
    }
    .top {
      width: 100%;
    }
    .statement {
      flex-direction: column;
      div {
        flex: unset;
        width: 100%;
      }
    }
    .box {
      flex-direction: column;

      .col {
        flex: unset;
        width: 100%;
        min-height: unset;
      }
    }
    .text {
      flex-direction: column;
    }
  }
}
