@use "../../utilities.module" as *;

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: $bg;
  box-shadow: 0 8px 16px cwo($p, 0.1);

  padding: 0 5%;
  transition: linear 0.75s;
  color: $b;
  font-family: var(--bold);
  position: relative;
  z-index: 90;
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    height: 100%;
    .logo {
      position: relative;
      height: 90%;
      aspect-ratio: 1/1;
      transition: 0.75s;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .icon {
    display: none;
  }
  .right {
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .action {
      flex: 1;
      background: $grad;
      padding: 24px;
      color: $w;
      text-align: center;
      font-weight: bold;
      border-radius: 6px;

      transition: 0.75s;
      &:hover {
        scale: 0.95;
      }
    }
    > ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: center;
      gap: 20px;
      flex: 3;
      > li {
        position: relative;
        transition: 0.75s;
        &::before {
          content: "";
          width: 0;
          height: 4px;
          background-color: $p;
          position: absolute;
          bottom: -110%;
          opacity: 0;
          border-radius: 12px;
          transition: 0.5s;
        }
        &:hover {
          color: $p;
          &::before {
            opacity: 1;
            width: 100%;
          }
        }
      }
      .box {
        .innerLinks {
          list-style: none;
          position: absolute;
          top: 270%;
          overflow: hidden;

          background-color: $tf;
          box-shadow: cwo($p, 0.1);
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 30px 50px;
          width: max-content;
          opacity: 0;
          transform-origin: left;
          transform: scale(0) translateX(-25%);
          transition: 0.75s;
          color: $w;
          border-bottom: 8px solid $s;

          li {
            transition: 0.75s;
            &:hover {
              color: var(--s);
            }
          }
        }
        &::after {
          content: "";
          width: 120%;
          height: 250%;

          position: absolute;
          left: 0;
          top: 100%;
        }
        &:hover {
          .innerLinks {
            transform: scale(1) translateX(-25%);

            opacity: 1;
          }
        }
      }
    }
  }
}

//media
//media
//media
//media
@media screen and (max-width: 800px) {
  .nav {
    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      flex: 1;
    }
    .icon {
      display: block;
      font-size: 3rem;
      color: $b;
    }
    .right {
      flex: 3;
      flex-direction: column;
      position: absolute;
      top: 90px;
      background-color: $tf;
      right: 0;
      width: 95%;
      height: calc(100vh - 90px);
      justify-content: center;
      gap: 100px;
      font-size: 1.5rem;

      color: $w;
      box-shadow: -8px 0px 8px cwo($tf, 0.2);
      transition: 0.75s;

      .action {
        flex: none;

        padding: 24px;

        width: 90%;
      }
      > ul {
        flex-direction: column;
        flex: none;
        > li {
          &::before {
            display: none;
          }
        }
        .box {
          .innerLinks {
            display: none;
          }
          &::after {
            display: none;
          }
        }
      }
    }
    .hide {
      right: -100%;
    }
  }
}
